<html>


<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" type="text/css" href="/assets/stylesheets/bootstrap.css">
</head>

<%= render "layouts/header" %>


<body>
    <% if current_user %>
      <%= render "layouts/navbar",  title: '',  login: false, logout: true, home: false %>
    <% else %>
      <%= render "layouts/navbar",  title: '',  login: true, logout: false, home: false %>
    <% end %>


  <div class="container">
    <div class="row">
      <div class="page-header">
        <h1>Grupo 2 </h1>
      </div>
    </div>
  </div>

    <div class="container">

      <!-- Marketing Icons Section -->
      <div class="row">

      <div class="panel panel-primary">
            <!-- Default panel contents -->
            <div class="panel-heading">Almacenes</div>


            <!-- Table -->
            <table class="table table-bordered sortable">
              <thead>
                <tr>
                  <!--th>Id cloud</th-->
                  <th>Utilizado</th>
                  <th>Capacidad</th>
                  <th>Disponible</th>
                  <th>Tipo</th>
                  <th>Ocupaci贸n</th>
                </tr>
              </thead>

              <tbody>
                <% @warehouses.each do |w| %>
                  <tr>
                    <!--td><%= w["_id"] %></td-->
                    <td><%= w["usedSpace"] %></td>
                    <td><%= w["totalSpace"] %></td>
                    <td><%= w["totalSpace"] - w["usedSpace"] %></td>

                    <% if w["pulmon"] %>
                      <td><%= 'pulm贸n' %></td>
                    <% end %>
                    <% if w["recepcion"] %>
                      <td><%= 'recepci贸n' %></td>
                    <% end %>
                    <% if w["despacho"] %>
                      <td><%= 'despacho' %></td>
                    <% end %>
                    <% if not w["despacho"] and not w["pulmon"] and not w["recepcion"] and w["totalSpace"]> 10000%>
                      <td><%= 'general' %></td>
                    <% end %>
                    <% if not w["despacho"] and not w["pulmon"] and not w["recepcion"] and w["totalSpace"]< 10000%>
                      <td><%= 'pregeneral' %></td>
                    <% end %>

                    <td>
                        <div class="progress" style="min-width: 20px">
                          <div class="progress-bar" role="progressbar" aria-valuenow="60"
                            aria-valuemin="0" aria-valuemax="100"
                            style="<%= 'width:' +(w["usedSpace"].to_f*100 / w["totalSpace"].to_f).to_s + '%; color: black' %>">
                                <%= (w["usedSpace"].to_f*100 / w["totalSpace"].to_f).round(2).to_s + '%' %>
                          </div>
                        </div>
                    </td>

                  </tr>
                <% end %>
              </tbody>
            </table>
      </div>

      <div class="panel panel-primary">
            <!-- Default panel contents -->
            <div class="panel-heading">Leche</div>
            <!-- Table -->
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>SKU</th>
                  <th>Nombre</th>
                  <th>Stock</th>
                </tr>
              </thead>

              <tbody>
                  <tr>
                    <td><%= @leche.sku %></td>
                    <td><%= @leche.description %></td>
                    <td><%= @leche.stock %></td>
                  </tr>
              </tbody>
            </table>
      </div>


      <div class="panel panel-primary">
            <!-- Default panel contents -->
            <div class="panel-heading">Productos</div>


            <!-- Table -->
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>SKU</th>
                  <th>Nombre</th>
                  <th>Stock total</th>
                  <th>Stock disponible</th>
                </tr>
              </thead>

              <tbody>
                <% @products.each do |p| %>
                  <tr>
                    <td><%= p.sku %></td>
                    <td><%= p.description %></td>
                    <td><%= p.all_stock %></td>
                    <td><%= p.stock_disponible %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
      </div>



          <div class="panel panel-primary">
            <!-- Default panel contents -->
            <div class="panel-heading">Ordenes de Producci贸n</div>


            <!-- Table -->
            <table  class="table table-bordered" cellspacing="0" width="100%">
                <thead>
                    <tr>
                      <th>SKU</th>
                      <th>Cantidad</th>
                      <th>Disponible</th>
                    </tr>
                </thead>

                <tbody id="news-table">
                    <% @production_orders.each do |production_order| %>
                      <tr>
                        <!--td><%= production_order.id_cloud %></td-->
                        <td><%= production_order.product_sku %></td>
                        <td><%= production_order.cantidad %></td>
                        <!--td><%= production_order.despachado %></td-->
                        <td><%= production_order.disponible %></td>
                      </tr>
                    <% end %>
                </tbody>
            </table>
          </div>


      <div class="panel panel-primary">
            <!-- Default panel contents -->
            <div class="panel-heading">Boletas generadas</div>


            <!-- Table -->
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Id cloud</th>
                  <th>OC id cloud</th>
                  <th>Estado</th>
                  <th>Cliente</th>
                  <th>Bruto</th>
                  <th>Iva</th>
                  <th>Total</th>
                </tr>
              </thead>

              <tbody>
                <% @vouchers.each do |p| %>
                  <tr>
                    <td><%= p.id_cloud %></td>
                    <td><%= p.oc_id_cloud %></td>
                    <td><%= p.status %></td>
                    <td><%= p.client %></td>
                    <td><%= p.bruto %></td>
                    <td><%= p.iva %></td>
                    <td><%= p.bruto + p.iva %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
      </div>

  <script type="text/javascript" src="/assets/js/jquery.js"></script>
  <script type="text/javascript" src="/assets/js/bootstrap.js"></script>


</body>
</html>
