<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" type="text/css" href="/assets/stylesheets/bootstrap.css">
</head>

<%= render "layouts/header" %>


<body>
    <% if current_user %>
      <%= render "layouts/navbar",  title: '',  login: false, logout: true, home: true %>
    <% end %>


  <div class="container">
    <div class="row">
      <div class="page-header">
        <h1>Administración interna</h1>
      </div>
    </div>
  </div>

    <div class="container">

      <!-- Marketing Icons Section -->
      <div class="row">

          <div class="panel panel-primary">
            <!-- Default panel contents -->
            <div class="panel-heading">Administración OC manual</div>

            <!-- Table -->
            <table  class="table table-bordered" cellspacing="0" width="100%">
                <thead>
                    <tr>
                      <th>Método</th>
                      <th>Accionar</th>
                    </tr>
                </thead>

                <tbody id="news-table">

                      <tr>
                        <td>Generar OC directa</td>

                        <%= form_tag(:create_oc, method: "post") do %>
                          <td><%= label_tag :producto_sku %> <%= text_field_tag :oc_sku %></td>
                          <td><%= label_tag :cantidad %> <%= text_field_tag :cantidad %></td>
                          <td><%= label_tag :proveedor_id %> <%= text_field_tag :proveedor %></td>
                          <td> <%= submit_tag('Generar solicitud') %></td>
                      <tr>
                          <td></td>
                          <td><%= label_tag :fecha_mes %> <%= text_field_tag :fecha_mes %></td>
                          <td><%= label_tag :fecha_dia %> <%= text_field_tag :fecha_dia %></td>
                          <td><%= label_tag :fecha_hora %> <%= text_field_tag :fecha_hora %></td>
                          <td><%= label_tag :fecha_minutos %> <%= text_field_tag :fecha_minutos %></td>
                      </tr>
                        <% end %>

                        <td>Generar OC CON PRECIO</td>

                        <%= form_tag(:create_oc_with_price, method: "post") do %>
                          <td><%= label_tag :producto_sku %> <%= text_field_tag :oc_sku %></td>
                          <td><%= label_tag :cantidad %> <%= text_field_tag :cantidad %></td>
                          <td><%= label_tag :proveedor_id %> <%= text_field_tag :proveedor %></td>
                          <td> <%= submit_tag('Solicitar') %></td>
                      <tr>
                          <td></td>
                          <td><%= label_tag :fecha_mes %> <%= text_field_tag :fecha_mes %></td>
                          <td><%= label_tag :fecha_dia %> <%= text_field_tag :fecha_dia %></td>
                          <td><%= label_tag :fecha_hora %> <%= text_field_tag :fecha_hora %></td>
                          <td><%= label_tag :precio_unitario %> <%= text_field_tag :unit_price %></td>
                      </tr>
                        <% end %>

                      </tr>

                      <tr>
                        <td>Generar producción</td>
                        <%= form_tag(:sent_production, method: "post") do %>
                          <td><%= label_tag :producto_sku %> <%= text_field_tag :oc_sku %></td>
                          <td><%= label_tag :cantidad_raw_material %> <%= text_field_tag :cantidad_raw_material %></td>
                          <td> <%= submit_tag('Producir') %></td>
                        <% end %>

                      </tr>

                      <tr>
                        <td>Mover productos - force</td>
                        <%= form_tag(:mover_cantidad, method: "post") do %>
                          <td><%= label_tag :inicio %> <%= text_field_tag :inicio %></td>
                          <td><%= label_tag :fin %> <%= text_field_tag :fin %></td>
                          <td><%= label_tag :cantidad %> <%= text_field_tag :cantidad %></td>
                          <td> <%= submit_tag('Mover') %></td>
                        <% end %>

                      </tr>

                      <tr>
                        <td><%= button_to 'Actualizar stocks', :stocks_force_update %></td>
                        <td><%= button_to 'Actualizar transacciones', :refresh_transactions %></td>
                        <td><%= button_to 'Actualizar Ordenes de compra', :refresh_purchase_orders %></td>

                      <tr>
                        <td><%= button_to 'Reordenar bodegas', :sort_warehouses %></td>
                        <td><%= button_to 'Sacar de despacho', :move_despacho_general %></td>
                        <td><%= button_to 'Sacar de recepcion', :move_recepcion_general %></td>
                        <td><%= button_to 'Detener Reordenar', :stop_warehouses_reorder %></td>
                      </tr>

                      </tr>
                      <tr>
                        <td><%= button_to 'Actualizar saldo', :refresh_balance %></td>
                        <% if !@saldo.nil? %>
                        <td>$<%= @saldo %> (recuerda que el saldo se actualiza cada 10 minutos)</td>
                        <% end %>
                      </tr>
                      <tr>
                        <td>Checkear disponibilidad</td>
                        <%= form_tag(:check_for_availablility, method: "post") do %>
                        <td><%= label_tag :producto_sku %> <%= text_field_tag :oc_sku %></td>
                        <td><%= label_tag :cantidad %> <%= text_field_tag :cantidad %></td>
                        <td> <%= submit_tag('Checkear') %></td>
                        <% end %>

                      </tr>
                      <tr>

                        <td>Despachar OC</td>
                        <%= form_tag(:deliver, method: "post") do %>
                        <!--td><%= label_tag :factura_cloud_id %> <%= text_field_tag :factura_cloud_id %></td-->
                        <td><%= label_tag :oc_cloud_id %> <%= text_field_tag :oc_cloud_id %></td>
                        <!--td><%= label_tag :proveedor_id %> <%= text_field_tag :proveedor %></td-->
                        <td> <%= submit_tag('Despachar') %></td>
                        <% end %>

                      </tr>
                      <tr>

                        <td>Notificar despacho OC</td>
                        <%= form_tag(:notify_deliver, method: "post") do %>
                        <td><%= label_tag :factura_cloud_id %> <%= text_field_tag :factura_cloud_id %></td>
                        <td> <%= submit_tag('Notificar') %></td>
                        <% end %>

                      </tr>
                      <tr>

                        <td>Enviar factura</td>
                        <%= form_tag(:enviar_factura, method: "post") do %>
                        <td><%= label_tag :id_cloud %> <%= text_field_tag :id_cloud %></td>
                        <td> <%= submit_tag('Enviar') %></td>
                        <% end %>

                      </tr>


                      <tr>

                        <td>Pagar factura</td>
                        <%= form_tag(:pay_invoice, method: "post") do %>
                        <td><%= label_tag :factura_cloud_id %> <%= text_field_tag :factura_cloud_id %></td>
                        <td> <%= submit_tag('Pagar') %></td>
                        <% end %>

                      </tr>



                </tbody>
            </table>
          </div>


    <div class="container">

      <!-- Marketing Icons Section -->
      <div class="row">

          <div class="panel panel-primary">
            <!-- Default panel contents -->
            <div class="panel-heading">FTP</div>

            <!-- Table -->
            <table  class="table table-bordered" cellspacing="0" width="100%">
                <thead>
                    <tr>
                      <th>Método</th>
                      <th>Accionar</th>
                    </tr>
                </thead>

                <tbody id="news-table">

                      <tr>
                        <td>Actualizar ftp orders</td>
                        <td><%= button_to 'Actualizar ftp orders', :refresh_ftp %></td>
                      </tr>


                      <tr>

                        <td>Despachar ftp</td>
                        <%= form_tag(:deliver_ftp, method: "post") do %>
                        <td><%= label_tag :oc_cloud_id %> <%= text_field_tag :oc_cloud_id %></td>
                        <td> <%= submit_tag('Despachar') %></td>
                        <% end %>

                      </tr>

                </tbody>
            </table>
          </div>


    <div class="container">

      <!-- Marketing Icons Section -->
      <div class="row">
          <div class="panel panel-primary">
            <!-- Default panel contents -->
            <div class="panel-heading">Despachando</div>

            <!-- Table -->
            <table  class="table table-bordered" cellspacing="0" width="100%">
                <thead>
                    <tr>
                      <th><%= sortable "product_sku", "Sku", PurchaseOrder, "product_sku"  %></th>
                      <th><%= sortable "state", "Status", PurchaseOrder, "product_sku"  %></th>
                      <th><%= sortable "payment_method", "Método de pago", PurchaseOrder, "product_sku"  %></th>
                      <th><%= sortable "id_cloud", "id cloud", PurchaseOrder, "product_sku"  %></th>
                      <th><%= sortable "quantity_done", "Despachado", PurchaseOrder, "product_sku"  %></th>
                      <th><%= sortable "quantity", "Cantidad", PurchaseOrder, "product_sku"  %></th>
                      <th><%= sortable "created_at", "Creadas", PurchaseOrder, "product_sku"  %></th>
                      <th><%= sortable "deadline", "Deadline", PurchaseOrder, "product_sku"  %></th>
                      <th><%= sortable "queued", "En cola?", PurchaseOrder, "product_sku"  %></th>
                      <th><%= sortable "delivering", "delivering", PurchaseOrder, "product_sku"  %></th>
                      <!--th><%= sortable "Acción", PurchaseOrder, "product_sku"  %></th-->
                    </tr>
                </thead>

                <tbody id="news-table">
                    <% @being_delivered.each do |purchase_order| %>
                      <tr>
                        <%= form_tag(:detener_despacho,  method: "post") do %>
                        <%= hidden_field_tag :cloud_id, purchase_order.id_cloud %>
                        <td><%= purchase_order.product_sku %></td>
                        <td><%= purchase_order.state %></td>
                        <td><%= purchase_order.payment_method %></td>
                        <td><%= purchase_order.id_cloud %></td>
                        <td><%= purchase_order.quantity_done %></td>
                        <td><%= purchase_order.quantity %></td>
                        <td><%= purchase_order.created_at %></td>
                        <td><%= purchase_order.deadline %></td>
                        <td><%= purchase_order.queued %></td>
                        <td><%= purchase_order.delivering %></td>
                        <!--td> <%= submit_tag 'Detener', :name => "status"  %></td-->
                        <% end %>
                      </tr>
                    <% end %>
                </tbody>
            </table>
          </div>
          </div>
          </div>

    <div class="container">

      <!-- Marketing Icons Section -->
      <div class="row">
          <div class="panel panel-primary">
            <!-- Default panel contents -->
            <div class="panel-heading">Boletas por despachar</div>

            <!-- Table -->
            <table  class="table table-bordered" cellspacing="0" width="100%">
                <thead>
                    <tr>
                      <th><%= sortable "id_cloud", "Id cloud", Voucher, "id_cloud"  %></th>
                      <th><%= sortable "spree_order_id", "Spree order", Voucher, "id_cloud"  %></th>
                      <th><%= sortable "address", "Dirección", Voucher, "id_cloud"  %></th>
                      <th><%= sortable "status", "Estado", Voucher, "id_cloud"  %></th>
                      <th><%= sortable "Monto total", Voucher, "id_cloud"  %></th>
                      <th><%= sortable "En cola?", Voucher, "id_cloud"  %></th>
                      <th><%= sortable "delivering", Voucher, "id_cloud"  %></th>
                    </tr>
                </thead>

                <tbody id="news-table">
                    <% @show_vouchers.each do |sv| %>
                      <tr>
                        <%= form_tag(:despachar_boleta,  method: "post") do %>
                        <%= hidden_field_tag :voucher_id, sv.id %>
                        <td><%= sv.id_cloud %></td>
                        <td><%= sv.spree_order_id %></td>
                        <td><%= sv.address %></td>
                        <td><%= sv.status %></td>
                        <td><%= sv.bruto + sv.iva %></td>
                        <td><%= sv.queued %></td>
                        <td><%= sv.delivering %></td>
                        <td> <%= submit_tag 'Agregar a cola', :name => "status"  %></td>
                        <% end %>
                      </tr>
                    <% end %>
                </tbody>
            </table>
          </div>
          </div>
          </div>



  <script type="text/javascript" src="/assets/js/jquery.js"></script>
  <script type="text/javascript" src="/assets/js/bootstrap.js"></script>


</body>
</html>
