<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" type="text/css" href="/assets/stylesheets/bootstrap.css">
</head>

<%= render "layouts/header" %>


<body>
    <% if current_user %>
      <%= render "layouts/navbar",  title: '',  login: false, logout: true, home: true %>
    <% end %>


  <div class="container">
    <div class="row">
      <div class="page-header">
        <h1>Administración interna</h1>
      </div>
    </div>
  </div>

    <div class="container">

      <!-- Marketing Icons Section -->
      <div class="row">

          <div class="panel panel-primary">
            <!-- Default panel contents -->
            <div class="panel-heading">Generar solicitud manual</div>

            <!-- Table -->
            <table  class="table table-bordered" cellspacing="0" width="100%">
                <thead>
                    <tr>
                      <th>Método</th>
                      <th>Accionar</th>
                    </tr>
                </thead>

                <tbody id="news-table">

                      <tr>
                        <td>Generar OC directa</td>

                        <%= form_tag(:create_oc, method: "post") do %>
                          <td><%= label_tag :producto_sku %> <%= text_field_tag :oc_sku %></td>
                          <td><%= label_tag :cantidad %> <%= text_field_tag :cantidad %></td>
                          <td><%= label_tag :proveedor_id %> <%= text_field_tag :proveedor %></td>
                          <td> <%= submit_tag('Generar solicitud') %></td>
                      <tr>
                          <td></td>
                          <td><%= label_tag :fecha_mes %> <%= text_field_tag :fecha_mes %></td>
                          <td><%= label_tag :fecha_dia %> <%= text_field_tag :fecha_dia %></td>
                          <td><%= label_tag :fecha_hora %> <%= text_field_tag :fecha_hora %></td>
                          <td><%= label_tag :fecha_minutos %> <%= text_field_tag :fecha_minutos %></td>
                      </tr>
                        <% end %>

                        <td>Generar OC CON PRECIO</td>

                        <%= form_tag(:create_oc_with_price, method: "post") do %>
                          <td><%= label_tag :producto_sku %> <%= text_field_tag :oc_sku %></td>
                          <td><%= label_tag :cantidad %> <%= text_field_tag :cantidad %></td>
                          <td><%= label_tag :proveedor_id %> <%= text_field_tag :proveedor %></td>
                          <td> <%= submit_tag('Solicitar') %></td>
                      <tr>
                          <td></td>
                          <td><%= label_tag :fecha_mes %> <%= text_field_tag :fecha_mes %></td>
                          <td><%= label_tag :fecha_dia %> <%= text_field_tag :fecha_dia %></td>
                          <td><%= label_tag :fecha_hora %> <%= text_field_tag :fecha_hora %></td>
                          <td><%= label_tag :precio_unitario %> <%= text_field_tag :unit_price %></td>
                      </tr>
                        <% end %>

                      </tr>

                      <tr>
                        <td>Generar producción</td>
                        <%= form_tag(:sent_production, method: "post") do %>
                          <td><%= label_tag :producto_sku %> <%= text_field_tag :oc_sku %></td>
                          <td><%= label_tag :cantidad %> <%= text_field_tag :cantidad %></td>
                          <td> <%= submit_tag('Producir') %></td>
                        <% end %>

                      </tr>
                      <tr>
                        <td>Reordenar bodegas</td>

                        <td><%= button_to 'Reordenar', :sort_warehouses %></td>

                      </tr>
                      <tr>
                        <td>Checkear disponibilidad</td>
                        <%= form_tag(:check_for_availablility, method: "post") do %>
                        <td><%= label_tag :producto_sku %> <%= text_field_tag :oc_sku %></td>
                        <td><%= label_tag :cantidad %> <%= text_field_tag :cantidad %></td>
                        <td> <%= submit_tag('Checkear') %></td>
                        <% end %>

                      </tr>
                      <tr>

                        <td>Despachar OC</td>
                        <%= form_tag(:deliver, method: "post") do %>
                        <!--td><%= label_tag :factura_cloud_id %> <%= text_field_tag :factura_cloud_id %></td-->
                        <td><%= label_tag :oc_cloud_id %> <%= text_field_tag :oc_cloud_id %></td>
                        <!--td><%= label_tag :proveedor_id %> <%= text_field_tag :proveedor %></td-->
                        <td> <%= submit_tag('Despachar') %></td>
                        <% end %>

                      </tr>
                      <tr>

                        <td>Notificar despacho OC</td>
                        <%= form_tag(:notify_deliver, method: "post") do %>
                        <td><%= label_tag :factura_cloud_id %> <%= text_field_tag :factura_cloud_id %></td>
                        <td> <%= submit_tag('Notificar') %></td>
                        <% end %>

                      </tr>
                </tbody>
            </table>
          </div>


  <script type="text/javascript" src="/assets/js/jquery.js"></script>
  <script type="text/javascript" src="/assets/js/bootstrap.js"></script>


</body>
</html>
