<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" type="text/css" href="/assets/stylesheets/bootstrap.css">
</head>

<%= render "layouts/header" %>


<body>
    <% if current_user %>
      <%= render "layouts/navbar",  title: '',  login: false, logout: true, home: true %>
    <% end %>




  <div class="container">
    <div class="row">
      <div class="page-header">
        <h1>FTP - Ordenes de compra</h1>
      </div>
    </div>
  </div>

    <div class="container">

      <!-- Marketing Icons Section -->
      <div class="row">



<div class="panel panel-primary">
            <!-- Default panel contents -->
            <div class="panel-heading">FPT - Ordenes aceptadas</div>

            <!-- Table -->
            <table  class="table table-bordered" cellspacing="0" width="100%">
                <thead>
                    <tr>
                      <th><%= sortable "product_sku", "Sku", PurchaseOrder, "product_sku"  %></th>
                      <th><%= sortable "state", "Status", PurchaseOrder, "product_sku"  %></th>
                      <th><%= sortable "id_cloud", PurchaseOrder, "product_sku"  %></th>
                      <th><%= sortable "quantity_done", "Despachado", PurchaseOrder, "product_sku"  %></th>
                      <th><%= sortable "quantity", "Cantidad", PurchaseOrder, "product_sku"  %></th>
                      <th><%= sortable "created_at", "Creadas", PurchaseOrder, "product_sku"  %></th>
                      <th><%= sortable "deadline", "Deadline", PurchaseOrder, "product_sku"  %></th>
                      <th><%= sortable "Acci贸n", PurchaseOrder, "product_sku"  %></th>
                    </tr>
                </thead>

                <tbody id="news-table">
                    <% @accepted_ftp.each do |purchase_order| %>
                      <tr>
                        <%= form_tag(:accept_ftp,  method: "post") do %>
                        <%= hidden_field_tag :cloud_id, purchase_order.id_cloud %>
                        <td><%= purchase_order.product_sku %></td>
                        <td><%= purchase_order.state %></td>
                        <td><%= purchase_order.id_cloud %></td>
                        <td><%= purchase_order.quantity_done %></td>
                        <td><%= purchase_order.quantity %></td>
                        <td><%= purchase_order.created_at %></td>
                        <td><%= purchase_order.deadline %></td>
                        <td> <%= submit_tag 'Aceptar', :name => "status"  %></td>
                        <td> <%= submit_tag 'Rechazar', :name => "status"  %></td>
                        <% end %>


                      </tr>
                    <% end %>
                </tbody>
            </table>
          </div>


          <div class="panel panel-primary">
            <!-- Default panel contents -->
            <div class="panel-heading">FPT - Ordenes creadas</div>

            <!-- Table -->
            <table  class="table table-bordered" cellspacing="0" width="100%">
                <thead>
                    <tr>
                      <th><%= sortable "product_sku", "Sku", PurchaseOrder, "product_sku"  %></th>
                      <th><%= sortable "state", "Status", PurchaseOrder, "product_sku"  %></th>
                      <th><%= sortable "id_cloud", PurchaseOrder, "product_sku"  %></th>
                      <th><%= sortable "quantity_done", "Despachado", PurchaseOrder, "product_sku"  %></th>
                      <th><%= sortable "quantity", "Cantidad", PurchaseOrder, "product_sku"  %></th>
                      <th><%= sortable "created_at", "Creadas", PurchaseOrder, "product_sku"  %></th>
                      <th><%= sortable "deadline", "Deadline", PurchaseOrder, "product_sku"  %></th>
                      <th><%= sortable "Acci贸n", PurchaseOrder, "product_sku"  %></th>
                    </tr>
                </thead>

                <tbody id="news-table">
                    <% @created_ftp.each do |purchase_order| %>
                      <tr>
                        <%= form_tag(:accept_ftp,  method: "post") do %>
                        <%= hidden_field_tag :cloud_id, purchase_order.id_cloud %>
                        <td><%= purchase_order.product_sku %></td>
                        <td><%= purchase_order.state %></td>
                        <td><%= purchase_order.id_cloud %></td>
                        <td><%= purchase_order.quantity_done %></td>
                        <td><%= purchase_order.quantity %></td>
                        <td><%= purchase_order.created_at %></td>
                        <td><%= purchase_order.deadline %></td>
                        <td> <%= submit_tag 'Aceptar', :name => "status"  %></td>
                        <td> <%= submit_tag 'Rechazar', :name => "status"  %></td>
                        <% end %>


                      </tr>
                    <% end %>
                </tbody>
            </table>
          </div>



<div class="panel panel-primary">
            <!-- Default panel contents -->
            <div class="panel-heading">FPT - Ordenes rechazadas</div>

            <!-- Table -->
            <table  class="table table-bordered" cellspacing="0" width="100%">
                <thead>
                    <tr>
                      <th><%= sortable "product_sku", "Sku", PurchaseOrder, "product_sku"  %></th>
                      <th><%= sortable "state", "Status", PurchaseOrder, "product_sku"  %></th>
                      <th><%= sortable "id_cloud", PurchaseOrder, "product_sku"  %></th>
                      <th><%= sortable "quantity_done", "Despachado", PurchaseOrder, "product_sku"  %></th>
                      <th><%= sortable "quantity", "Cantidad", PurchaseOrder, "product_sku"  %></th>
                      <th><%= sortable "created_at", "Creadas", PurchaseOrder, "product_sku"  %></th>
                      <th><%= sortable "deadline", "Deadline", PurchaseOrder, "product_sku"  %></th>
                      <th><%= sortable "Acci贸n", PurchaseOrder, "product_sku"  %></th>
                    </tr>
                </thead>

                <tbody id="news-table">
                    <% @rejected_ftp.each do |purchase_order| %>
                      <tr>
                        <%= form_tag(:accept_ftp,  method: "post") do %>
                        <%= hidden_field_tag :cloud_id, purchase_order.id_cloud %>
                        <td><%= purchase_order.product_sku %></td>
                        <td><%= purchase_order.state %></td>
                        <td><%= purchase_order.id_cloud %></td>
                        <td><%= purchase_order.quantity_done %></td>
                        <td><%= purchase_order.quantity %></td>
                        <td><%= purchase_order.created_at %></td>
                        <td><%= purchase_order.deadline %></td>
                        <td> <%= submit_tag 'Aceptar', :name => "status"  %></td>
                        <td> <%= submit_tag 'Rechazar', :name => "status"  %></td>
                        <% end %>


                      </tr>
                    <% end %>
                </tbody>
            </table>
          </div>

<div class="panel panel-primary">
            <!-- Default panel contents -->
            <div class="panel-heading">FPT - Ordenes despachadas</div>

            <!-- Table -->
            <table  class="table table-bordered" cellspacing="0" width="100%">
                <thead>
                    <tr>
                      <th><%= sortable "product_sku", "Sku", PurchaseOrder, "product_sku"  %></th>
                      <th><%= sortable "state", "Status", PurchaseOrder, "product_sku"  %></th>
                      <th><%= sortable "id_cloud", PurchaseOrder, "product_sku"  %></th>
                      <th><%= sortable "quantity_done", "Despachado", PurchaseOrder, "product_sku"  %></th>
                      <th><%= sortable "quantity", "Cantidad", PurchaseOrder, "product_sku"  %></th>
                      <th><%= sortable "created_at", "Creadas", PurchaseOrder, "product_sku"  %></th>
                      <th><%= sortable "deadline", "Deadline", PurchaseOrder, "product_sku"  %></th>
                      <th><%= sortable "Acci贸n", PurchaseOrder, "product_sku"  %></th>
                    </tr>
                </thead>

                <tbody id="news-table">
                    <% @delivered_ftp.each do |purchase_order| %>
                      <tr>
                        <%= form_tag(:accept_ftp,  method: "post") do %>
                        <%= hidden_field_tag :cloud_id, purchase_order.id_cloud %>
                        <td><%= purchase_order.product_sku %></td>
                        <td><%= purchase_order.state %></td>
                        <td><%= purchase_order.id_cloud %></td>
                        <td><%= purchase_order.quantity_done %></td>
                        <td><%= purchase_order.quantity %></td>
                        <td><%= purchase_order.created_at %></td>
                        <td><%= purchase_order.deadline %></td>
                        <td> <%= submit_tag 'Aceptar', :name => "status"  %></td>
                        <td> <%= submit_tag 'Rechazar', :name => "status"  %></td>
                        <% end %>


                      </tr>
                    <% end %>
                </tbody>
            </table>
          </div>


  <script type="text/javascript" src="/assets/js/jquery.js"></script>
  <script type="text/javascript" src="/assets/js/bootstrap.js"></script>


</body>
</html>
