<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" type="text/css" href="/assets/stylesheets/bootstrap.css">
</head>

<%= render "layouts/header" %>


<body>
    <% if current_user %>
      <%= render "layouts/navbar",  title: '',  login: false, logout: true, home: true %>
    <% end %>


  <div class="container">
    <div class="row">
      <div class="page-header">
        <h1>Facturas</h1>
      </div>
    </div>
  </div>

    <div class="container">

      <!-- Marketing Icons Section -->
      <div class="row">

          <div class="panel panel-info">
            <!-- Default panel contents -->
            <div class="panel-heading">Facturas enviadas distribuidor</div>

            <!-- Table -->
            <table  class="table table-bordered" cellspacing="0" width="100%">
                <thead>
                    <tr>
                      <th><%= sortable "id_cloud", Invoice, "id_cloud" %></th>
                      <th><%= sortable "cliente", Invoice, "id_cloud" %></th>
                      <!-- <th><%= sortable "proveedor", Invoice, "id_cloud" %></th> -->
                      <th><%= sortable "total", Invoice, "id_cloud" %></th> <!-- HACER VARIABLE TOTAL-->
                      <th><%= sortable "oc_id_cloud", Invoice, "id_cloud" %></th>
                      <th><%= sortable "status", "estado", Invoice, "id_cloud" %></th>
                      <th><%= sortable "bank_account", "cuenta", Invoice, "id_cloud" %></th>
                      <th><%= sortable "owner", "nuestra", Invoice, "id_cloud" %></th>
                      <th><%= sortable "Trx_asociada", Invoice, "id_cloud" %></th>
                    </tr>
                </thead>

                <tbody id="news-table">
                    <% @our_invoices_distribuidor.each do |invoice| %>
                      <tr>

                        <td><%= invoice.id_cloud %></td>
                        <td><%= invoice.cliente %></td>
                        <!-- <td><%= invoice.group_number(invoice.proveedor)%></td> -->
                        <!-- <td><%= invoice.cliente %></td>
                        <td><%= invoice.proveedor %></td> -->
                        <td><%= invoice.bruto + invoice.iva %></td>
                        <td><%= invoice.oc_id_cloud %></td>
                        <td><%= invoice.status %></td>
                        <td><%= invoice.bank_account %></td>
                        <td><%= invoice.owner %></td>
                        <td><%= invoice.trx.id_cloud if invoice.trx %></td>
                      </tr>
                    <% end %>
                </tbody>
            </table>
          </div>

          <div class="panel panel-info">
            <!-- Default panel contents -->
            <div class="panel-heading">Facturas enviadas b2b </div>

            <!-- Table -->
            <table  class="table table-bordered" cellspacing="0" width="100%">
                <thead>
                    <tr>
                      <th><%= sortable "id_cloud", Invoice, "id_cloud" %></th>
                      <th><%= sortable "cliente", Invoice, "id_cloud" %></th>
                      <!-- <th><%= sortable "proveedor", Invoice, "id_cloud" %></th> -->
                      <th><%= sortable "total", Invoice, "id_cloud" %></th> <!-- HACER VARIABLE TOTAL-->
                      <th><%= sortable "oc_id_cloud", Invoice, "id_cloud" %></th>
                      <th><%= sortable "status", "estado", Invoice, "id_cloud" %></th>
                      <th><%= sortable "bank_account", "cuenta", Invoice, "id_cloud" %></th>
                      <th><%= sortable "owner", "nuestra", Invoice, "id_cloud" %></th>
                      <th><%= sortable "Trx_asociada", Invoice, "id_cloud" %></th>
                    </tr>
                </thead>

                <tbody id="news-table">
                    <% @our_invoices_b2b.each do |invoice| %>
                      <tr>

                        <td><%= invoice.id_cloud %></td>
                        <td><%= invoice.group_number(invoice.cliente) %></td>
                        <!-- <td><%= invoice.group_number(invoice.proveedor)%></td> -->
                        <!-- <td><%= invoice.cliente %></td>
                        <td><%= invoice.proveedor %></td> -->
                        <td><%= invoice.bruto + invoice.iva %></td>
                        <td><%= invoice.oc_id_cloud %></td>
                        <td><%= invoice.status %></td>
                        <td><%= invoice.bank_account %></td>
                        <td><%= invoice.owner %></td>
                        <td><%= invoice.trx.id_cloud if invoice.trx %></td>
                      </tr>
                    <% end %>
                </tbody>
            </table>
          </div>



          <div class="panel panel-warning">
            <!-- Default panel contents -->
            <div class="panel-heading">Facturas recibidas distribuidor</div>

              <!-- Table -->
              <table  class="table table-bordered" cellspacing="0" width="100%">
                  <thead>
                      <tr>
                        <th><%= sortable "id_cloud", Invoice, "id_cloud" %></th>
                        <!-- <th><%= sortable "cliente", Invoice, "id_cloud" %></th> -->
                        <th><%= sortable "proveedor", Invoice, "id_cloud" %></th>
                        <th><%= sortable "total", Invoice, "id_cloud" %></th> <!-- HACER VARIABLE TOTAL-->
                        <th><%= sortable "oc_id_cloud", Invoice, "id_cloud" %></th>
                        <th><%= sortable "status", "estado", Invoice, "id_cloud" %></th>
                        <th><%= sortable "bank_account", "cuenta", Invoice, "id_cloud" %></th>
                        <th><%= sortable "owner", "nuestra", Invoice, "id_cloud" %></th>
                        <th><%= sortable "Trx_asociada", Invoice, "id_cloud" %></th>
                      </tr>
                  </thead>

                  <tbody id="news-table">
                      <% @invoices_distribuidor.each do |invoice| %>
                        <tr>
                          <%= form_tag(:accept_invoice,  method: "post") do %>
                          <%= hidden_field_tag :cloud_id, invoice.id_cloud %>
                          <td><%= invoice.id_cloud %></td>
                          <!-- <td><%= invoice.group_number(invoice.cliente) %></td> -->
                          <td><%= invoice.proveedor%></td>
                          <!-- <td><%= invoice.cliente %></td>
                          <td><%= invoice.proveedor %></td> -->
                          <td><%= invoice.bruto + invoice.iva %></td>
                          <td><%= invoice.oc_id_cloud %></td>
                          <td><%= invoice.status %></td>
                          <td><%= invoice.bank_account %></td>
                          <td><%= invoice.owner %></td>
                          <td><%= invoice.trx.id_cloud if invoice.trx %></td>
                          <td> <%= submit_tag 'Aceptar', :name => "status"  %></td>
                          <td> <%= submit_tag 'Rechazar', :name => "status"  %></td>
                          <% end %>
                        </tr>
                      <% end %>
                  </tbody>
              </table>
            
          </div>

          <div class="panel panel-warning">
            <!-- Default panel contents -->
            <div class="panel-heading">Facturas recibidas b2b</div>

              <!-- Table -->
              <table  class="table table-bordered" cellspacing="0" width="100%">
                  <thead>
                      <tr>
                        <th><%= sortable "id_cloud", Invoice, "id_cloud" %></th>
                        <!-- <th><%= sortable "cliente", Invoice, "id_cloud" %></th> -->
                        <th><%= sortable "proveedor", Invoice, "id_cloud" %></th>
                        <th><%= sortable "total", Invoice, "id_cloud" %></th> <!-- HACER VARIABLE TOTAL-->
                        <th><%= sortable "oc_id_cloud", Invoice, "id_cloud" %></th>
                        <th><%= sortable "status", "estado", Invoice, "id_cloud" %></th>
                        <th><%= sortable "bank_account", "cuenta", Invoice, "id_cloud" %></th>
                        <th><%= sortable "owner", "nuestra", Invoice, "id_cloud" %></th>
                        <th><%= sortable "Trx_asociada", Invoice, "id_cloud" %></th>
                      </tr>
                  </thead>

                  <tbody id="news-table">
                      <% @invoices_b2b.each do |invoice| %>
                        <tr>
                          <%= form_tag(:accept_invoice,  method: "post") do %>
                          <%= hidden_field_tag :cloud_id, invoice.id_cloud %>
                          <td><%= invoice.id_cloud %></td>
                          <!-- <td><%= invoice.group_number(invoice.cliente) %></td> -->
                          <td><%= invoice.group_number(invoice.proveedor)%></td>
                          <!-- <td><%= invoice.cliente %></td>
                          <td><%= invoice.proveedor %></td> -->
                          <td><%= invoice.bruto + invoice.iva %></td>
                          <td><%= invoice.oc_id_cloud %></td>
                          <td><%= invoice.status %></td>
                          <td><%= invoice.bank_account %></td>
                          <td><%= invoice.owner %></td>
                          <td><%= invoice.trx.id_cloud if invoice.trx %></td>
                          <%= if invoice.trx == nil %>
                            <td> <%= submit_tag 'Aceptar y Pagar', :name => "status"  %></td>
                            <td> <%= submit_tag 'Rechazar', :name => "status"  %></td>
                          <% end %>
                          <% end %>
                        </tr>
                      <% end %>
                  </tbody>
              </table>
            
          </div>







  <script type="text/javascript" src="/assets/js/jquery.js"></script>
  <script type="text/javascript" src="/assets/js/bootstrap.js"></script>


</body>
</html>
