<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" type="text/css" href="/assets/stylesheets/bootstrap.css">
</head>

<%= render "layouts/header" %>


<body>
    <% if current_user %>
      <%= render "layouts/navbar",  title: '',  login: false, logout: true, home: true %>
    <% end %>


  <div class="container">
    <div class="row">
      <div class="page-header">
        <h1>Produccion</h1>
      </div>
    </div>
  </div>

    <div class="container">

      <!-- Marketing Icons Section -->
      <div class="row">



          <div class="panel panel-primary">
            <!-- Default panel contents -->
            <div class="panel-heading">Producción solicitada</div>

            <!-- Table -->
            <table  class="table table-bordered" cellspacing="0" width="100%">
                <thead>
                    <tr>
                      <th><%= sortable "product_sku", "Sku", ProductionOrder, "product_sku"  %></th>
                      <th><%= sortable "cantidad", "Cantidad", ProductionOrder, "product_sku"  %></th>
                      <th><%= sortable "disponible", "Disponible", ProductionOrder, "product_sku" %></th>
                    </tr>
                </thead>

                <tbody id="news-table">
                    <% @production_orders.each do |production_order| %>
                      <tr>
                        <td><%= production_order.product_sku %></td>
                        <td><%= production_order.cantidad %></td>
                        <td><%= production_order.disponible %></td>
                      </tr>
                    <% end %>
                </tbody>
            </table>
          </div>






  <script type="text/javascript" src="/assets/js/jquery.js"></script>
  <script type="text/javascript" src="/assets/js/bootstrap.js"></script>


</body>
</html>
