<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" type="text/css" href="/assets/stylesheets/bootstrap.css">
</head>

<%= render "layouts/header" %>


<body>
    <% if current_user %>
      <%= render "layouts/navbar",  title: '',  login: false, logout: true, home: true %>
    <% end %>


  <div class="container">
    <div class="row">
      <div class="page-header">
        <h1>Promociones</h1>
      </div>
    </div>
  </div>

    <div class="container">

      <!-- Marketing Icons Section -->
      <div class="row">


          <div class="panel panel-primary">
            <!-- Default panel contents -->
            <div class="panel-heading">SPREE</div>

            <!-- Table -->
            <!-- Table -->
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th><%= sortable "code", "code", Spree::Promotion, "fin" %></th>
                  <th><%= sortable "name", "name", Spree::Promotion, "fin" %></th>
                  <th><%= sortable "starts_at", "starts_at", Spree::Promotion, "fin" %></th>
                  <th><%= sortable "expires_at", "expires_at", Spree::Promotion, "fin" %></th>
                  <th><%= sortable "expirada", "expirada", Spree::Promotion, "fin" %></th>
                  <th><%= sortable "usos", "usos", Spree::Promotion, "fin" %></th>
                </tr>
              </thead>

              <tbody>
                <% @spree_promociones.each do |p| %>
                  <tr>
                    <td><%= p.code %></td>
                    <td><%= p.name %></td>
                    <td><%= p.starts_at  %></td>
                    <td><%= p.expires_at  %></td>
                    <td><%= p.expires_at <= Time.now  %></td>
                    <td><%= p.credits_count %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>


    <div class="container">

      <!-- Marketing Icons Section -->
      <div class="row">


          <div class="panel panel-primary">
            <!-- Default panel contents -->
            <div class="panel-heading">Promociones disponibles</div>

            <!-- Table -->
            <!-- Table -->
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th><%= sortable "codigo", "codigo", Discount, "fin" %></th>
                  <th><%= sortable "sku", "sku", Discount, "fin" %></th>
                  <th><%= sortable "owner", "owner", Discount, "fin" %></th>
                  <th><%= sortable "precio", "precio", Discount, "fin" %></th>
                  <th><%= sortable "inicio", "inicio", Discount, "fin" %></th>
                  <th><%= sortable "fin", "fin", Discount, "fin" %></th>
                  <th><%= sortable "publicar", "publicar", Discount, "fin" %></th>
                  <th><%= sortable "twitter_times", "twitter_times", Discount, "fin" %></th>
                  <th><%= sortable "facebook_times", "facebook_times", Discount, "fin" %></th>
                  <!--th><%= sortable "activation_count", "activation_count", Discount, "fin" %></th-->
                </tr>
              </thead>

              <tbody>
                <% @current_discounts.each do |p| %>
                  <tr>
                    <td><%= p.codigo %></td>
                    <td><%= p.sku %></td>
                    <td><%= p.owner %></td>
                    <td><%= p.precio %></td>
                    <td><%= p.inicio  %></td>
                    <td><%= p.fin  %></td>
                    <td><%= p.publicar %></td>
                    <td><%= p.twitter_times %></td>
                    <td><%= p.facebook_times %></td>
                    <!--td><%= p.activation_count %></td-->
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>


    <div class="container">

      <!-- Marketing Icons Section -->
      <div class="row">


          <div class="panel panel-primary">
            <!-- Default panel contents -->
            <div class="panel-heading">Promociones pasadas</div>

            <!-- Table -->
            <!-- Table -->
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th><%= sortable "codigo", "codigo", Discount, "fin" %></th>
                  <th><%= sortable "sku", "sku", Discount, "fin" %></th>
                  <th><%= sortable "owner", "owner", Discount, "fin" %></th>
                  <th><%= sortable "precio", "precio", Discount, "fin" %></th>
                  <th><%= sortable "inicio", "inicio", Discount, "fin" %></th>
                  <th><%= sortable "fin", "fin", Discount, "fin" %></th>
                  <th><%= sortable "publicar", "publicar", Discount, "fin" %></th>
                  <th><%= sortable "twitter_times", "twitter_times", Discount, "fin" %></th>
                  <th><%= sortable "facebook_times", "facebook_times", Discount, "fin" %></th>
                  <!--th><%= sortable "activation_count", "usage", Discount, "fin" %></th-->
                </tr>
              </thead>

              <tbody>
                <% @old_discounts.each do |p| %>
                  <tr>
                    <td><%= p.codigo %></td>
                    <td><%= p.sku %></td>
                    <td><%= p.owner %></td>
                    <td><%= p.precio %></td>
                    <td><%= p.inicio  %></td>
                    <td><%= p.fin  %></td>
                    <td><%= p.publicar %></td>
                    <td><%= p.twitter_times %></td>
                    <td><%= p.facebook_times %></td>
                    <!--td><%= p.activation_count %></td-->
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>




  <script type="text/javascript" src="/assets/js/jquery.js"></script>
  <script type="text/javascript" src="/assets/js/bootstrap.js"></script>


</body>
</html>
