<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" type="text/css" href="/assets/stylesheets/bootstrap.css">
</head>

<%= render "layouts/header" %>


<body>
    <% if current_user %>
      <%= render "layouts/navbar",  title: '',  login: false, logout: true, home: true %>
    <% end %>


  <div class="container">
    <div class="row">
      <div class="page-header">
        <h1>Cola despacho</h1>
        <%= button_to 'Activar Cola', :activate_queue %>
      </div>
    </div>
  </div>

    <div class="container">

      <!-- Marketing Icons Section -->
      <div class="row">



          <div class="panel panel-primary">
            <!-- Default panel contents -->
            <div class="panel-heading">Producción solicitada</div>

            <!-- Table -->
            <table  class="table table-bordered" cellspacing="0" width="100%">
                <thead>
                    <tr>
                      <th><%= sortable "product_sku", "Sku", ProductionOrder, "product_sku"  %></th>
                      <th><%= sortable "cantidad", "Cantidad", ProductionOrder, "product_sku"  %></th>
                      <th><%= sortable "disponible", "Solicitud creada", ProductionOrder, "product_sku" %></th>
                      <th><%= sortable "queued", "En Cola?", ProductionOrder, "product_sku" %></th>
                      <th><%= sortable "delivering", "Delivering", ProductionOrder, "product_sku" %></th>
                    </tr>
                </thead>

                <tbody id="news-table">

                    <% @production_orders.each do |production_order| %>
                      <tr>
                        <%= form_tag(:desencolar_order,  method: "post") do %>
                        <%= hidden_field_tag :order_id, production_order.id %>

                        <td><%= production_order.product_sku %></td>
                        <td><%= production_order.cantidad %></td>
                          <% if production_order.disponible != nil %>
                            <td><%= production_order.disponible.strftime("%d/%b at %I:%M%p") %></td>
                          <% else %>
                            <td>  </td>
                          <% end %>

                          <% if production_order.queued == true and production_order.delivering != true %>
                            <td><%= submit_tag 'Desencolar', :name => "status"  %></td>
                          <% else %>
                            <td> <%= production_order.queued %> </td>
                          <% end %>
                        <td><%= production_order.delivering %></td>

                        <% end %>

                      </tr>
                    <% end %>

                </tbody>
            </table>
          </div>









    <div class="container">

      <!-- Marketing Icons Section -->
      <div class="row">
          <div class="panel panel-primary">
            <!-- Default panel contents -->
            <div class="panel-heading">Órdenes de compra</div>

            <!-- Table -->
            <table  class="table table-bordered" cellspacing="0" width="100%">
                <thead>
                    <tr>
                      <th><%= sortable "id", "Id", PurchaseOrder, "product_sku"  %></th>
                      <th><%= sortable "product_sku", "Sku", PurchaseOrder, "product_sku"  %></th>
                      <th><%= sortable "group_number", "Grupo", PurchaseOrder, "product_sku"  %></th>
                      <th><%= sortable "state", "Status", PurchaseOrder, "product_sku"  %></th>
                      <th><%= sortable "payment_method", "Método de pago", PurchaseOrder, "product_sku"  %></th>
                      <th><%= sortable "id_cloud", "id cloud", PurchaseOrder, "product_sku"  %></th>
                      <th><%= sortable "quantity_done", "Despachado", PurchaseOrder, "product_sku"  %></th>
                      <th><%= sortable "quantity", "Cantidad", PurchaseOrder, "product_sku"  %></th>
                      <th><%= sortable "created_at", "Creadas", PurchaseOrder, "product_sku"  %></th>
                      <th><%= sortable "deadline", "Deadline", PurchaseOrder, "product_sku"  %></th>
                      <th><%= sortable "queued", "En Cola?", PurchaseOrder, "product_sku"  %></th>
                      <th><%= sortable "delivering", "Delivering", PurchaseOrder, "product_sku"  %></th>
                      <!--th><%= sortable "Acción", PurchaseOrder, "product_sku"  %></th-->
                    </tr>
                </thead>

                <tbody id="news-table">
                    <% @purchase_orders.each do |purchase_order| %>
                      <tr>
                        <%= form_tag(:detener_despacho,  method: "post") do %>
                        <%= hidden_field_tag :cloud_id, purchase_order.id_cloud %>
                        <td><%= purchase_order.id %></td>
                        <td><%= purchase_order.product_sku %></td>
                        <td><%= purchase_order.group_number %></td>
                        <td><%= purchase_order.state %></td>
                        <td><%= purchase_order.payment_method %></td>
                        <td><%= purchase_order.id_cloud %></td>
                        <td><%= purchase_order.quantity_done %></td>
                        <td><%= purchase_order.quantity %></td>
                        <td><%= purchase_order.created_at %></td>
                        <td><%= purchase_order.deadline %></td>
                        <td><%= purchase_order.queued %></td>
                        <td><%= purchase_order.delivering %></td>
                        <!--td> <%= submit_tag 'Detener', :name => "status"  %></td-->
                        <% end %>
                      </tr>
                    <% end %>
                </tbody>
            </table>
          </div>
          </div>
          </div>

    <div class="container">

      <!-- Marketing Icons Section -->
      <div class="row">
          <div class="panel panel-primary">
            <!-- Default panel contents -->
            <div class="panel-heading">Ecommerce</div>

            <!-- Table -->
            <table  class="table table-bordered" cellspacing="0" width="100%">
                <thead>
                    <tr>
                      <th><%= sortable "id_cloud", "Id cloud", Voucher, "id_cloud"  %></th>
                      <th><%= sortable "spree_order_id", "Spree order", Voucher, "id_cloud"  %></th>
                      <th><%= sortable "address", "Dirección", Voucher, "id_cloud"  %></th>
                      <th><%= sortable "status", "Estado", Voucher, "id_cloud"  %></th>
                      <th><%= sortable "Monto total", Voucher, "id_cloud"  %></th>
                      <th><%= sortable "En cola?", Voucher, "id_cloud"  %></th>
                      <th><%= sortable "delivering", Voucher, "id_cloud"  %></th>
                    </tr>
                </thead>

                <tbody id="news-table">
                    <% @vouchers.each do |sv| %>
                      <tr>
                        <%= form_tag(:despachar_boleta,  method: "post") do %>
                        <%= hidden_field_tag :voucher_id, sv.id %>
                        <td><%= sv.id_cloud %></td>
                        <td><%= sv.spree_order_id %></td>
                        <td><%= sv.address %></td>
                        <td><%= sv.status %></td>
                        <td><%= sv.bruto + sv.iva %></td>
                        <td><%= sv.queued %></td>
                        <td><%= sv.delivering %></td>
                        <% end %>
                      </tr>
                    <% end %>
                </tbody>
            </table>
          </div>
          </div>
          </div>



  <script type="text/javascript" src="/assets/js/jquery.js"></script>
  <script type="text/javascript" src="/assets/js/bootstrap.js"></script>


</body>
</html>
