<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" type="text/css" href="/assets/stylesheets/bootstrap.css">
</head>

<%= render "layouts/header" %>


<body>
    <% if current_user %>
      <%= render "layouts/navbar",  title: '',  login: false, logout: true, home: true %>
    <% end %>


  <div class="container">
    <div class="row">
      <div class="page-header">
        <h1>Transacciones</h1>
      </div>
    </div>
  </div>

    <div class="container">

      <!-- Marketing Icons Section -->
      <div class="row">



          <div class="panel panel-warning">
            <!-- Default panel contents -->
            <div class="panel-heading">Transacciones fallidas hacia nosotros</div>

            <!-- Table -->
            <table  class="table table-bordered" cellspacing="0" width="100%">
                <thead>
                    <tr>
                      <th><%= sortable "id_cloud", Transaction, "product_sku"  %></th>
                      <th><%= sortable "origen", Transaction, "product_sku"  %></th>
                      <th><%= sortable "destino", Transaction, "product_sku"  %></th>
                      <th><%= sortable "monto", Transaction, "product_sku"  %></th>
                      <th><%= sortable "owner", Transaction, "product_sku"  %></th>
                      <th><%= sortable "state", "status", Transaction, "product_sku"  %></th>
                      <th><%= sortable "created_at", "fecha de creaci贸n", Transaction, "product_sku"  %></th>
                    </tr>
                </thead>

                <tbody id="news-table">
                    <% @transactions_fail.each do |trx| %>
                      <tr>
                        <td><%= trx.id_cloud %></td>
                        <td><%= trx.group_number(trx.origen) %></td>
                        <td><%= trx.group_number(trx.destino)%></td>
                        <td><%= trx.monto %></td>
                        <td><%= trx.owner %></td>
                        <td><%= trx.state %></td>
                        <td><%= trx.created_at.strftime("%d/%b") %></td>
                      </tr>
                    <% end %>
                </tbody>
            </table>
          </div>


          <div class="panel panel-warning">
            <!-- Default panel contents -->
            <div class="panel-heading">Transacciones exitosas hacia nosotros</div>

            <!-- Table -->
            <table  class="table table-bordered" cellspacing="0" width="100%">
                <thead>
                    <tr>
                      <th><%= sortable "id_cloud", Transaction, "product_sku"  %></th>
                      <th><%= sortable "origen", Transaction, "product_sku"  %></th>
                      <th><%= sortable "destino", Transaction, "product_sku"  %></th>
                      <th><%= sortable "monto", Transaction, "product_sku"  %></th>
                      <th><%= sortable "owner", Transaction, "product_sku"  %></th>
                      <th><%= sortable "state", "status", Transaction, "product_sku"  %></th>
                      <th><%= sortable "created_at", "fecha de creaci贸n", Transaction, "product_sku"  %></th>
                    </tr>
                </thead>

                <tbody id="news-table">
                    <% @transactions_ok.each do |trx| %>
                      <tr>
                        <td><%= trx.id_cloud %></td>
                        <td><%= trx.group_number(trx.origen) %></td>
                        <td><%= trx.group_number(trx.destino)%></td>
                        <td><%= trx.monto %></td>
                        <td><%= trx.owner %></td>
                        <td><%= trx.state %></td>
                        <td><%= trx.created_at.strftime("%d/%b") %></td>
                      </tr>
                    <% end %>
                </tbody>
            </table>
          </div>



         


           <div class="panel panel-info">
            <!-- Default panel contents -->
            <div class="panel-heading">Transacciones fallidas desde nosotros</div>

            <!-- Table -->
            <table  class="table table-bordered" cellspacing="0" width="100%">
                <thead>
                    <tr>
                      <th><%= sortable "id_cloud", Transaction, "product_sku"  %></th>
                      <th><%= sortable "origen", Transaction, "product_sku"  %></th>
                      <th><%= sortable "destino", Transaction, "product_sku"  %></th>
                      <th><%= sortable "monto", Transaction, "product_sku"  %></th>
                      <th><%= sortable "owner", Transaction, "product_sku"  %></th>
                      <th><%= sortable "state", "status", Transaction, "product_sku"  %></th>
                      <th><%= sortable "created_at", "fecha de creaci贸n", Transaction, "product_sku"  %></th>
                    </tr>
                </thead>

                <tbody id="news-table">
                    <% @our_transactions_fail.each do |trx| %>
                      <tr>
                        <td><%= trx.id_cloud %></td>
                        <td><%= trx.group_number(trx.origen) %></td>
                        <td><%= trx.group_number(trx.destino)%></td>
                        <td><%= trx.monto %></td>
                        <td><%= trx.owner %></td>
                        <td><%= trx.state %></td>
                        <td><%= trx.created_at.strftime("%d/%b") %></td>
                      </tr>
                    <% end %>
                </tbody>
            </table>
          </div>


          <div class="panel panel-info">
            <!-- Default panel contents -->
            <div class="panel-heading">Transacciones exitosas desde nosotros</div>

            <!-- Table -->
            <table  class="table table-bordered" cellspacing="0" width="100%">
                <thead>
                    <tr>
                      <th><%= sortable "id_cloud", Transaction, "product_sku"  %></th>
                      <th><%= sortable "origen", Transaction, "product_sku"  %></th>
                      <th><%= sortable "destino", Transaction, "product_sku"  %></th>
                      <th><%= sortable "monto", Transaction, "product_sku"  %></th>
                      <th><%= sortable "owner", Transaction, "product_sku"  %></th>
                      <th><%= sortable "state", "status", Transaction, "product_sku"  %></th>
                      <th><%= sortable "created_at", "fecha de creaci贸n", Transaction, "product_sku"  %></th>
                    </tr>
                </thead>

                <tbody id="news-table">
                    <% @our_transactions_ok.each do |trx| %>
                      <tr>
                        <td><%= trx.id_cloud %></td>
                        <td><%= trx.group_number(trx.origen) %></td>
                        <td><%= trx.group_number(trx.destino)%></td>
                        <td><%= trx.monto %></td>
                        <td><%= trx.owner %></td>
                        <td><%= trx.state %></td>
                        <td><%= trx.created_at.strftime("%d/%b") %></td>
                      </tr>
                    <% end %>
                </tbody>
            </table>
          </div>




          





  <script type="text/javascript" src="/assets/js/jquery.js"></script>
  <script type="text/javascript" src="/assets/js/bootstrap.js"></script>


</body>
</html>
