    <!-- Navigation -->
    <nav class="panel-heading" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href=""><%= title %></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">

                <% if login %>
                    <li>
                        <%= link_to  'Login', :login, method: :get %>
                    </li>
                <% end %>
                <% if logout %>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Info extra <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><%= link_to "Transacciones", :transaction, method: :get %></li>
                        <li><%= link_to "Producción", :production, method: :get %></li>
                        <li><%= link_to "Ordenes Compra", :oc, method: :get %></li>
                        <li><%= link_to "Ventas", :ventas, method: :get %></li>
                        <li><%= link_to "Ftp - Ordenes Compra", :ftp_oc, method: :get %></li>
                        <li><%= link_to "Facturas", :invoices, method: :get %></li>
                        <li><%= link_to "Asociar factura/transacc", :invoice_and_transactions, method: :get %></li>
                        <li><%= link_to "Boletas", :vouchers, method: :get %></li>
                        <li><%= link_to "Cola despacho", :queue, method: :get %></li>
                        <li><%= link_to "Despacho", :despacho, method: :get %></li>
                        <li><%= link_to "Promociones", :promociones, method: :get %></li>
                        <li><%= link_to "Sprint 5", :sprint_5, method: :get %></li>
                      </ul>
                    </li>
                    <li>
                        <%= link_to "Administración", :managment, method: :get %>
                    </li>
                    <% if home %>
                        <li>
                            <%= link_to "Dashboards", :dashboard, method: :get %>
                        </li>
                    <% end %>
                    <li>
                        <%= link_to "Logout", :logout, method: :get %>
                    </li>
                <% end %>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
