    <!-- Navigation -->
    <nav class="panel-heading" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href=""><%= title %></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">

                <% if login %>
                    <li>
                        <%= link_to  'Login', :login, method: :get %>
                    </li>
                <% end %>
                <% if logout %>
                    <li>
                        <%= link_to "Info extra", :general, method: :get %>
                    </li>
                    <li>
                        <%= link_to "Administración", :managment, method: :get %>
                    </li>
                    <li>
                        <%= link_to "Logout", :logout, method: :get %>
                    </li>
                <% end %>  
                <% if home %>
                    <li>
                        <%= link_to "Dashboards", :dashboard, method: :get %>
                    </li>
                <% end %>                

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>                   
